<!DOCTYPE html>
<html>
<head>
  <title>Honeybee</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap-responsive", :media => "all" %>
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/assets/javascripts/bootstrap.min.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>


